<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>  
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

				<form action="login.ejs" method="POST" class="formulario"> 
					<div class="NombreYApellido">
						<input type="text" class="form-control" placeholder="Nombre y Apellido" name="nombreapellido" id="Apellido">

					</div>
					<div>
						<input type="email" class="form-control" placeholder="Email" name="email" id="email">

					</div>
					<div>
						<input type="text" class="form-control" placeholder="usuario" name="usuario" id="usuario">

					</div>
					<div>

						<input type="password" class="form-control" placeholder="contraseña" name="contraseña" id='password'>

					</div>	
					<div>
						<input type="date" class="form-control" placeholder="Fecha de nacimiento" name="nacimiento" id="birth">
					</div>
					<div>
						<script>
							function alerta(){
								alert("¡Felicidades, te registraste exitosamente!");
							}
						</script>
						<a href="/" class="boton">
							<input class="btn btn btn-info" type="button" onclick="alerta()" value="Registrarse">
						</a>
					</div>

				</form>
		</div>
	</div>	
			
	<!-- footer -->
	<%- include('./partials/footer')%>
	
	<!-- /footer -->
</body>

</html>