<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>  
</head>

<body>
	<!-- Header -->
<%- include('./partials/header')%> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="">
						
							<figure class="">
								<img src="/autosImg/golf.jpeg" alt="golf">
							</figure>
	
							<article class="searchProducto">
								<h2>Volkswagen Golf</h2>
								<p>El Volkswagen Golf es un automóvil del segmento C producido por el fabricante alemán de automóviles Volkswagen desde 1974. Es uno de los automóviles más vendidos en la historia, con más de 30 millones de unidades fabricadas.</p>
								<p>Precio: 2.000.000</p>
							</article>
					
					</section>
				</div>
			</h2>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer')%> 
	<!-- /footer -->
</body>

</html>